:root {
    --header-bg: #000;
    --chat-button: url("");
    --close-button: url("");
    --font-name: none;
    --font-size: none;
    --btn-color: #000;
    --text-header-color: #000;
}
body {
    font-size: var(--font-size);
}

/* Estilos al abrir/cerrar el chat */
.inteBot {
    visibility: hidden;
    position: fixed;
    border-radius: 10px 10px 0 0;
    bottom: 80px;
    right: 10px;
    cursor: pointer;
    height: 400px;
    z-index: -1;
    width: 430px;
    font-family: var(--font-name);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}
.headerInteBot {
    visibility: hidden;
    position: fixed;
    bottom: 480px;
    right: 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    height: 70px;
    width: 430px;
    z-index: 9010;
    background-color: var(--header-bg);
}
.buttonCloseChat {
    visibility: hidden;
    bottom: 80px;
}
.inteBot.open {
    visibility: visible;
    z-index: 9000;
}
.headerInteBot.open {
    visibility: visible;
}

/* botón burbuja para apertura del chat */
.buttonBubble {
    position: fixed;
    border: transparent;
    bottom: 10px;
    right: 10px;
    height: 63px;
    width: 130px;
    z-index: 9000;
    cursor: pointer;
    background-color: transparent;
    background-image: var(--chat-button);
    background-repeat: no-repeat;
    background-size: inherit;
}
.buttonBubble.open {
    position: fixed;
}

/* encabezado del chat */
.headerInteBot > p {
    color: var(--text-header-color);
}

.headerInteBot.open .moveBotIcon {
    visibility: visible;
    position: relative;
    left: 20px;
    top: 2px;
}
.headerInteBot.open .botTopName {
    visibility: visible;
    position: relative;
    left: 95px;
    bottom: 50px;
    font-weight: bold;
    font-family: var(--font-name);
    font-size: medium;
}
.headerInteBot.open .botStatus {
    visibility: visible;
    position: relative;
    left: 100px;
    bottom: 60px;
    font-family: var(--font-name);
    text-size-adjust: 12;
}
.headerInteBot.open .botStatus:before {
    visibility: visible;
    content: "";
    position: relative;
    display: inline-flex;
    top: 1px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(0, 255, 0);
}

/* Chat powered by  */
p.chat-powered {
    visibility: hidden;
    color: #000;
}

.headerInteBot.open .chat-powered {
    visibility: visible;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    bottom: 460px;
    right: 12px;
    background: linear-gradient(to right, transparent, white);
    margin: 0;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
}
.headerInteBot.open .chat-powered > a {
    color: #39368b !important;
    text-decoration: none;
    font-weight: 600;
}

[data-tooltip] {
    --arrow-size: 5px;
    position: relative;
    z-index: 9000;
}
/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 30%;
    bottom: calc(100% + var(--arrow-size));
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}
/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 150px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 0.68rem;
    background-color: rgba(59, 72, 80, 0.9);
    background-image: linear-gradient(
        30deg,
        rgba(59, 72, 80, 0.44),
        rgba(59, 68, 75, 0.44),
        rgba(60, 82, 88, 0.44)
    );
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(0.5);
}
/* Tooltip arrow */
[data-tooltip]:after {
    content: "";
    border-style: solid;
    border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size);
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);
}
/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}
/*   Arrow slide down effect only on mouseenter (NOT on mouseleave)*/
[data-tooltip]:hover:after {
    transition-delay: 0.5s; /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}

/* botón de cerrado del chat */
.headerInteBot.open .buttonCloseChat.open {
    visibility: visible;
    position: fixed;
    bottom: 520px;
    right: 20px;
    height: 17px;
    width: 17px;
    z-index: 9000;
    cursor: pointer;
    background-image: var(--close-button);
}

/* estado del chat */
.moveBotIcon {
    visibility: hidden;
}
.buttonCloseChat {
    visibility: hidden;
}
.botTopName {
    visibility: hidden;
}
.botStatus {
    visibility: hidden;
}
.botStatus:before {
    visibility: hidden;
}

/* cuadro de texto en chat */
.webchat__send-box-text-box {
    margin-bottom: 0;
}
.css-1u3ygot.webchat__send-box-text-box .webchat__send-box-text-box__text-area::placeholder {
    font-size: 0.9rem;
}

/* botones en mostrados en la tarjeta adaptable del chat  */
.ac-container .ac-actionSet > button.ac-pushButton.style-positive {
    background-color: var(--btn-color);
    color: white;
}
.ac-container .ac-actionSet > button.ac-pushButton.style-positive:hover,
.ac-container .ac-actionSet > button.ac-pushButton.style-positive:active {
    background-color: var(--btn-color);
    opacity: 0.7;
    color: white;
}

/* botones de sugerencia en mostrados en la tarjeta adaptable del chat  */
#inteBot .webchat__suggested-action > button.webchat__suggested-action__button {
    border-color: var(--btn-color);
    color: var(--btn-color);
}

/* Fijar icono de menú y cursor */
.css-1ueqw9g.webchat__icon-button {
    cursor: pointer;
}
